/com.springsource.org.apache.ws.commons.schema_2.0.3.jar
/com.ufida.eip.api_1.0.0.jar
/com.ufida.eip.common_1.0.0.jar
/com.ufida.eip.jpa.app.support_1.0.0.jar
/com.ufida.eip.model.exception_1.0.0.jar
/com.ufida.eip.repository-model_1.0.0.jar
/com.ufida.eip.service_1.0.0.jar
/eip.common-1.0.0.jar
