@charset "utf-8";
/*声学参数处理与分析系统-专有CSS样式*/

body {width: 100%;height: 100%; min-width: 600px; overflow-x: scroll;}

/*left_part*/
.content {
	width: 100%; 
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
.left_part {
	float: left;
	width: 240px;
	height: 1268px;
	background-color: #1B2B37;
	/*display: block;*/
	flex: 1;
	/*position: fixed;*/
}
.left_part_logo {
	width: 100%;
	height: 94px;
}
.logo_sys {
	width: 134px;
	height: auto;
}

.nav {

}
.nav_list {
	width: 100%;
	height: 80px;
}
.nav_list a {
	width: 100%;
	height: 80px;
}
.nav_list_mark {
	float: left;
	width: 4px;
	height: 100%;
	display: block;
	background-color: #1B2B37;
}
.nav_list:hover {
	background: #0F1922;
}
.nav_list:hover .nav_list_mark{
	background: #31C0C4;
}
.nav_list_focus {
	background: #0F1922;
}
.nav_list_focus .nav_list_mark{
	background: #31C0C4;
}
.nav_list a img {
	margin:28px 20px 28px 35px;
	width: 20px;
	height: auto;
}
.nav_list a span {
	width: auto;
	line-height: 80px;
	height: 100%;
	color: white;
	font-size: 14px;
}


/*right_part*/
.right_part {
	width: calc(100% - 240px);
	width:-webkit-calc(100% - 240px);
	width:-moz-calc(100% - 240px);
	min-width: 1200px;
	float: left;
	margin-left: 240px;
	background-color: #F6F9FC;
	flex: 1;
	position: absolute;
}
.right_topBar {
	width: 100%;
	height: 50px;
	background-color: #EEEEEE;
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	z-index: 100;
	position: relative;
}
.topBar_link {
	width: auto;
	height: 100%;
	margin-right: 40px;
	float: right;
	white-space: nowrap;
}
.topBar_link a {
	width: 100%;
	height: 100%;
}
.topBar_link a img {
	width: 16px;
	height: auto;
	margin-top: 16px;
	margin-right: 10px;
}
.topBar_link a span {
	width: auto;
	line-height: 50px;
	height: 100%;
	color: #606060;
	font-size: 12px;
}
.topBar_link:hover a span {
	width: auto;
	line-height: 50px;
	height: 100%;
	color: #008BFA;
	font-size: 12px;
}
.right_tool {
	width: 100%;
	height: 46px;
	background-color: #FFF;
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	z-index: 99;
}
.right_tool button {
	width: 86px;
	height: 28px;
	margin-top: 9px;
	margin-right: 20px;
	line-height: 28px;
	float: right;
	background: #008BFA;
	border: 1px solid #008BFA;
	border-radius: 4px;
	outline: none;
	display: inline-block;
	white-space: nowrap;
}
.right_tool button span {
	color: white;
	font-size: 12px !important;
}
.right_tool button:hover {
	background: #0073E7;
}
.right_footer {
	width: 100%;
	height: 40px;
	background-color: #F7F7F7;
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	z-index: 100;
	position:fixed;
	bottom: 0;
}
.width300height40 {
	padding-left: -240px;
}
.right_footer .width300height40 span {
	display: inline-block;
	font-size: 12px !important;
	color: #858585;
} 
.main_part {
	padding: 20px 40px;
}
.first_box {
	width: 100%;
	height: 32px;
	margin-bottom: 20px;
}
.select_style {
	width: 240px;
	height: 32px;
	border: 1px solid #CCCCCC;
	outline: none;
	margin-right: 50px;
}
.option_style {
	line-height: 28px;
}
.first_box span {
	margin-right: 10px;
	color: #008BFA;
}
.second_box {
	width: 100%;
	height: 280px;
	margin-bottom: 20px;
}
.second_box .second_left1 {
	border-top: 4px solid #F57323;
	height: 280px;
	width:48%;
	background-color: #FFF;
	box-shadow: 0 2px 4px #DEE9F4;
	float: left;
}
.second_box .second_right1 {
	border-top: 4px solid #F57323;
	height: 280px;
	width:48%;
	background-color: #FFF;
	box-shadow: 0 2px 4px #DEE9F4;
	float: right;
}
.title_orange {
	width: 140px;
	height: 44px;
	background-color: #F57323;
	color: white;
	text-align: center;
	line-height: 44px;
	padding-left: 10px;
	float: left;
}
.title_box_orange {
	border-bottom: 44px solid transparent;
	border-top: 0px solid transparent;
	border-left:20px solid #F57323;
	/*border-right: 150px solid red;*/
	width: 20px;
	height: 22px;
	float: left;
}
.details_box {
	width: 100%;
	padding-left: 30px;
	height: auto;
	margin-top: 70px;		
}
.details_box_img {
	width: 45%;
	height: 180px;
	float: left;
	/*margin-left: 30px;*/
	padding: 20px;
	border: 1px solid #CCC;
	border-radius: 5px;
	display: table-cell;
 	vertical-align:middle;
	text-align:center;
}
.details_box_img img {
	margin: 0 auto;
	text-align:center;
	vertical-align: middle;
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	/*max-height: calc(100% - 40px);
	max-height:-webkit-calc(100% - 40px);
	max-height:-moz-calc(100% - 40px);
	max-width: calc(100% - 40px);
	max-width:-webkit-calc(100% - 40px);
	max-width:-moz-calc(100% - 40px);*/
    display: grid;
}
.details_box_img2 {
	width: 45%;
	height: 180px;
	float: left;
	/*margin-left: 30px;*/
	padding: 0px;
	/*border: 1px solid #CCC;*/
	border-radius: 5px;
	display: table-cell;
 	vertical-align:middle;
	text-align:center;
}
.details_box_img2 img {
	margin: 0 auto;
	text-align:center;
	vertical-align: middle;
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	/*max-height: calc(100% - 40px);
	max-height:-webkit-calc(100% - 40px);
	max-height:-moz-calc(100% - 40px);
	max-width: calc(100% - 40px);
	max-width:-webkit-calc(100% - 40px);
	max-width:-moz-calc(100% - 40px);*/
    display: grid;
    border: 1px solid #CCC;
    border-radius: 5px;
}
.details_box ul {
	width: 45%;
    float: left;
    margin-left: 10%;
    list-style-image: url(../img/li.svg);
}
/*.details_box ul li::before {
	content: "\02022";
	color: #FF9800;
	margin-right: 10px;
}*/
.details_box ul li {
	list-style:none;
	background:url(../img/li.svg) no-repeat left;
	padding-left:15px;
	line-height: 30px;
	/*width: 40%;*/
	height: 30px;
	display:block;
}
.details_box ul li span:first-child {
	color: #9B9B9B;
	font-size: 12px;
	width: 65px;
	height: 30px;
	display: inline-block;
}
.details_box ul li span:nth-child(2) {
	color: #000000;
	font-size: 12px;
	margin-left: 10px;
	display: contents;
}
.third_box {
	width: 100%;
	height: 750px;
	background: white;
	margin-bottom: 20px;
	border-top: 4px solid #2FB3B0;
	box-shadow: 0 2px 4px #DEE9F4;
	margin-bottom: 80px;
}
.title_cyan {
	width: 140px;
	height: 44px;
	background-color: #2FB3B0;
	color: white;
	text-align: center;
	line-height: 44px;
	padding-left: 10px;
	float: left;
}
.title_box_cyan {
	border-bottom: 44px solid transparent;
	border-top: 0px solid transparent;
	border-left:20px solid #2FB3B0;
	/*border-right: 150px solid red;*/
	width: 20px;
	height: 22px;
	float: left;
}
.calculate_box {
	width: 100%;
	padding: 30px;
	height: 610px;
	margin-top: 40px;
	display: block;
}
.calculate_left {
	width: 38%;
	height: 100%;
	display: block;
	margin-right: 2%;
}
.calculate_left_part1_title {
	width: 100%;
	height: 40px;
	font-weight: 600;
	font-size: 14px;
	color: #4A4A4A;
	text-align: left;
	line-height: 26px;
	border-top: 0px solid #DEE9F4 !important;
	display: block;
}
.calculate_left_part1_span {
	width: 100%;
    height: 103px;
    font-weight: 400;
    font-size: 14px;
    color: #485B74;
    text-align: left;
    line-height: 34px;
    border-top: 1px solid #DEE9F4;
    display: block;
    padding-top: 5px;
}
.calculate_button_box {
	width: 100%;
	height: 50px;
	padding-top: 25px;
	border-top: 1px solid #DEE9F4;
	padding-left: calc(50% - 96px);
	padding-left:-webkit-calc(50% - 96px);
	padding-left:-moz-calc(50% - 96px);
}
.btn_blue {
	width: 86px;
	height: 28px;
	line-height: 28px;
	background: #008BFA;
	border: 1px solid #008BFA;
	border-radius: 4px;
	outline: none;
	display: inline-block;
	white-space: nowrap;
	color: white;
	text-align: center;
}
.btn_blue span {
	color: white;
	font-size: 12px !important;
}
.btn_blue:hover {
	background: #0073E7;
}
.btn_white {
	width: 86px;
	height: 28px;
	line-height: 28px;
	background: #FFF;
	border: 1px solid #CCC;
	border-radius: 4px;
	outline: none;
	display: inline-block;
	white-space: nowrap;
}
.btn_white span {
	color: #485B74;
	font-size: 12px !important;
}
.btn_white:hover {
	border: 1px solid #008BFA;
	color: #008BFA;
}
.btn_white:hover span {
	color: #008BFA;
}
.calculate_left_part2 {
	width: 100%;
	height: 200px;
	background: #F1F8F6;
	border: 1px solid #2FB3B0;
	border-radius: 3px;
	margin-top: 50px;
	padding: 15px;
}
.calculate_sbox {
	width: 60%;
	height: 100%;
	display: block;
	border-left: 1px solid #BED7E6;
}
.calculate_sbox ul {
	width: 100%;
    float: left;
    margin-left: 10%;
    padding-top: 20px;
}
.calculate_sbox ul li {
	list-style:none;
	/*background:url(../img/li.svg) no-repeat left;*/
	padding-left:15px;
	line-height: 40px;
	/*width: 40%;*/
	height: 40px;
	display:block;
	color: #485B74;
}
.calculate_sbox ul li span:first-child {
	margin-right: 15%;
}
.calculate_right {
	width: 60%;
	height: 650px;
	display: block;
	background: #F4F4F4;
	border: 1px solid #E6E6E6;
	border-radius: 3px;
}


































