/.DS_Store
/._.DS_Store
/._Thumbs.db
/._cover_pic.png
/._icon
/._invoicelogo.png
/._invoicelogo2x.png
/._logo-b.png
/._logo-b2x.png
/._logo.png
/._logo2x.png
/._notification-alert.png
/._others
/._profile-pic-big.png
/._profile-pic.png
/._profiles
/._pullup.png
/._pullup2x.png
/._sidebar-menu-arrow.png
/._small-profile-pic.png
/._wea.jpg
/._widget-arrow-blue.png
/._widget-arrow-green.png
/._widget-arrow-orange.png
/._work.jpg
